<div class="container">
  <h4 class="text-secondary pt-5">Analysis <%= @analysis.id %></h4>

  <table class="table mt-4">
    <thead class="thead-light">
      <tr>
        <th>Keyword</th>
        <th>Advertisers count</th>
        <th>Links count</th>
        <th>Search results</th>
        <th>HTML</th>
      </tr>
    </thead>
    <tbody>
      <% @analysis.results.order(:position).each do |result| %>
        <%= render 'results/result', result: result %>
      <% end %>
    </tbody>
  </table>

  <script>
    App['analysis_<%= @analysis.id %>'] = App.cable.subscriptions.create(
      { channel: 'AnalysisChannel', analysis_id: <%= @analysis.id %> },
      {
        received: (data) => {
          document.getElementById('keywords').insertAdjacentHTML('beforeend', data.result_row);
        }
      }
    )
  </script>
</div>
