.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
  position: absolute;
  width: 49%;
  right: 0;
}

@media (max-width: 768px) {
  .flash {
    width: 97%;
  }
}

@media (min-width: 1200px) {
  .flash {
    width: 33%;
  }
}

.flash-success {
  border: 2px solid #1EDD88;
}

.flash-warning {
  border: 2px solid #FFC65A;
}

.flash-danger {
  border: 2px solid #FD1015;
}
